body{
    background-color: #DFFDC1;
    font-family: Roboto Mono;
    
}

.top-text{
    margin-top: 50px;
    margin-bottom: 25px;
}

.btn{
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 34px;
    
}
.input1{
    border-radius: 10px;

}

.input2{
    border-radius: 10px;
    border: black 1px solid;
    background: rgb(231, 230, 230);
    color: black;
}

.run-man{
    display: flex;
    justify-content: center;
    margin-left: 58px;
    margin-top: 32px;
}

/* .footer{
    background-color: aqua;
    border-radius: 5px;
} */